khulnasoft-active-directory==2.1.0; sys_platform == 'win32'
khulnasoft-activemq-xml==3.1.0
khulnasoft-activemq==3.1.0
khulnasoft-aerospike==2.1.0; sys_platform == 'linux2'
khulnasoft-airflow==4.1.0
khulnasoft-amazon-msk==4.4.0
khulnasoft-ambari==4.1.0; sys_platform != 'win32'
khulnasoft-apache==4.4.0
khulnasoft-arangodb==2.1.0
khulnasoft-argocd==2.2.0
khulnasoft-aspdotnet==2.1.0; sys_platform == 'win32'
khulnasoft-avi-vantage==4.1.0
khulnasoft-azure-iot-edge==4.1.0
khulnasoft-boundary==2.1.0
khulnasoft-btrfs==2.1.0; sys_platform != 'win32'
khulnasoft-cacti==2.1.0; sys_platform == 'linux2'
khulnasoft-calico==2.1.0
khulnasoft-cassandra-nodetool==1.13.0
khulnasoft-cassandra==1.18.0
khulnasoft-ceph==2.10.0; sys_platform != 'win32'
khulnasoft-cert-manager==4.0.0
khulnasoft-checks-base==35.0.0
khulnasoft-checks-dependency-provider==1.4.0
khulnasoft-checks-downloader==4.5.0
khulnasoft-cilium==3.3.0
khulnasoft-cisco-aci==2.5.0
khulnasoft-citrix-hypervisor==3.1.0
khulnasoft-clickhouse==3.2.0
khulnasoft-cloud-foundry-api==3.2.0
khulnasoft-cloudera==2.1.0
khulnasoft-cockroachdb==3.1.0
khulnasoft-confluent-platform==1.10.0
khulnasoft-consul==2.4.0
khulnasoft-coredns==3.1.0; sys_platform == 'linux2'
khulnasoft-couch==6.1.0
khulnasoft-couchbase==3.1.0
khulnasoft-crio==2.5.0
khulnasoft-khulnasoft-cluster-agent==2.9.0
khulnasoft-dcgm==2.2.0
khulnasoft-directory==2.1.0
khulnasoft-disk==5.1.0
khulnasoft-dns-check==3.1.0
khulnasoft-dotnetclr==2.1.0; sys_platform == 'win32'
khulnasoft-druid==2.4.0
khulnasoft-ecs-fargate==4.2.0
khulnasoft-eks-fargate==4.1.0
khulnasoft-elastic==6.2.0
khulnasoft-envoy==3.3.0
khulnasoft-etcd==6.1.0
khulnasoft-exchange-server==2.1.0; sys_platform == 'win32'
khulnasoft-external-dns==3.1.0
khulnasoft-flink==1.5.0
khulnasoft-fluentd==3.1.0
khulnasoft-fluxcd==1.1.0
khulnasoft-foundationdb==1.4.0
khulnasoft-gearmand==3.1.0; sys_platform != 'win32'
khulnasoft-gitlab-runner==4.1.0
khulnasoft-gitlab==7.1.0
khulnasoft-glusterfs==1.7.0; sys_platform == 'linux2'
khulnasoft-go-expvar==2.4.0
khulnasoft-gunicorn==2.5.0; sys_platform != 'win32'
khulnasoft-haproxy==5.1.0
khulnasoft-harbor==3.1.0
khulnasoft-hazelcast==3.1.0
khulnasoft-hdfs-datanode==4.1.0; sys_platform != 'win32'
khulnasoft-hdfs-namenode==4.1.0; sys_platform != 'win32'
khulnasoft-hive==1.10.0
khulnasoft-hivemq==1.8.0
khulnasoft-http-check==9.3.0
khulnasoft-hudi==2.3.0
khulnasoft-hyperv==1.11.0; sys_platform == 'win32'
khulnasoft-ibm-ace==2.2.1
khulnasoft-ibm-db2==2.2.0
khulnasoft-ibm-i==2.1.0; sys_platform != 'win32'
khulnasoft-ibm-mq==6.1.1
khulnasoft-ibm-was==3.2.0
khulnasoft-ignite==2.4.0
khulnasoft-iis==3.1.0; sys_platform == 'win32'
khulnasoft-impala==2.1.0
khulnasoft-istio==5.3.0
khulnasoft-jboss-wildfly==2.2.0
khulnasoft-journald==1.2.0
khulnasoft-kafka-consumer==4.2.0
khulnasoft-kafka==2.15.0
khulnasoft-karpenter==1.1.0
khulnasoft-kong==3.1.0
khulnasoft-kube-apiserver-metrics==4.2.0
khulnasoft-kube-controller-manager==5.0.0
khulnasoft-kube-dns==4.3.0
khulnasoft-kube-metrics-server==3.2.0
khulnasoft-kube-proxy==6.2.0
khulnasoft-kube-scheduler==4.8.0
khulnasoft-kubelet==7.11.0
khulnasoft-kubernetes-state==8.0.0
khulnasoft-kyototycoon==2.4.0
khulnasoft-lighttpd==3.4.0
khulnasoft-linkerd==4.1.0
khulnasoft-linux-proc-extras==2.5.0; sys_platform == 'linux2'
khulnasoft-mapr==1.11.0; sys_platform == 'linux2'
khulnasoft-mapreduce==4.1.0
khulnasoft-marathon==2.3.0; sys_platform != 'win32'
khulnasoft-marklogic==4.1.0
khulnasoft-mcache==4.1.0; sys_platform != 'win32'
khulnasoft-mesos-master==3.3.0; sys_platform != 'win32'
khulnasoft-mesos-slave==3.3.0; sys_platform != 'win32'
khulnasoft-mongo==6.1.0
khulnasoft-mysql==12.0.0
khulnasoft-nagios==1.13.0
khulnasoft-network==3.1.0
khulnasoft-nfsstat==1.13.0; sys_platform == 'linux2'
khulnasoft-nginx-ingress-controller==2.5.0
khulnasoft-nginx==6.1.0
khulnasoft-nvidia-triton==1.1.0
khulnasoft-openldap==1.12.0
khulnasoft-openmetrics==4.1.0
khulnasoft-openstack-controller==6.2.1
khulnasoft-openstack==2.0.0
khulnasoft-oracle==5.1.1
khulnasoft-pan-firewall==1.2.0
khulnasoft-pdh-check==2.1.0; sys_platform == 'win32'
khulnasoft-pgbouncer==6.2.0; sys_platform != 'win32'
khulnasoft-php-fpm==3.2.0
khulnasoft-postfix==1.14.0; sys_platform != 'win32'
khulnasoft-postgres==16.1.1
khulnasoft-powerdns-recursor==2.4.0
khulnasoft-presto==2.8.0
khulnasoft-process==3.1.0
khulnasoft-prometheus==3.6.0
khulnasoft-proxysql==5.1.0
khulnasoft-pulsar==2.1.0
khulnasoft-rabbitmq==5.1.0
khulnasoft-ray==1.1.0
khulnasoft-redisdb==5.3.0
khulnasoft-rethinkdb==3.1.0
khulnasoft-riak==3.4.0
khulnasoft-riakcs==2.11.0
khulnasoft-sap-hana==3.1.0
khulnasoft-scylla==2.6.0
khulnasoft-sidekiq==1.4.0
khulnasoft-silk==2.1.0
khulnasoft-singlestore==2.1.0
khulnasoft-snmp==7.1.0
khulnasoft-snowflake==5.2.0
khulnasoft-solr==1.13.0
khulnasoft-sonarqube==3.1.0
khulnasoft-spark==4.1.0
khulnasoft-sqlserver==16.0.0
khulnasoft-squid==2.4.0
khulnasoft-ssh-check==2.8.0
khulnasoft-statsd==1.12.0
khulnasoft-strimzi==2.1.0
khulnasoft-supervisord==2.6.0
khulnasoft-system-core==2.2.0
khulnasoft-system-swap==1.16.0
khulnasoft-tcp-check==4.8.0
khulnasoft-teamcity==4.1.0
khulnasoft-temporal==2.1.0
khulnasoft-tenable==1.5.0
khulnasoft-teradata==2.1.1; sys_platform != 'darwin'
khulnasoft-tls==2.14.0
khulnasoft-tokumx==3.2.0
khulnasoft-tomcat==1.13.0
khulnasoft-torchserve==2.1.0
khulnasoft-traffic-server==2.1.0
khulnasoft-twemproxy==1.15.0
khulnasoft-twistlock==3.4.1
khulnasoft-varnish==2.1.0
khulnasoft-vault==4.1.0
khulnasoft-vertica==4.4.0
khulnasoft-voltdb==3.1.0
khulnasoft-vsphere==7.3.0
khulnasoft-weaviate==2.2.0
khulnasoft-weblogic==1.3.0
khulnasoft-win32-event-log==3.3.0; sys_platform == 'win32'
khulnasoft-windows-performance-counters==2.1.0; sys_platform == 'win32'
khulnasoft-windows-service==4.8.0; sys_platform == 'win32'
khulnasoft-wmi-check==1.18.0; sys_platform == 'win32'
khulnasoft-yarn==5.2.0
khulnasoft-zk==4.5.0; sys_platform != 'win32'
